
    <form>
     <input type = 'text' />  
     <button> Search </button> 
    </form>

<a href='/bookmarks/new'> New Bookmark </a>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.url %>
    </li>
    <li>  
      <%= bookmark.genre %> 
    </li>  
     <li>
      <%= bookmark.about %> 
     </li> 
      <a href='/bookmarks/<%=bookmark.id%>/edit'> Edit </a>
      <form action='/bookmarks/<%=bookmark.id%>/delete' method = 'post' >
      <button> Delete </button>
      </form>
    </li>
    <hr>
  <% end %> 
</ul>

