
    <form>
     <input type = 'text' />  
     <button> Search </button> 
    </form>
<hr>
<form action='/bookmarks/new' method = 'gets'>
<button> + </button>
</form>


<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
     <a href=' http://<%= bookmark.url %>'> <%= bookmark.url %></a>
    </li>
    <li>  
      <%= bookmark.genre %> 
    </li>  
     <li>
      <%= bookmark.about %> 
     </li> 
      <form action='/bookmarks/<%=bookmark.id%>/edit' method = 'gets'> 
        <button> Edit </button>
      </form>
      <form action='/bookmarks/<%=bookmark.id%>/delete' method = 'post' >
      <button> Delete </button>
      </form>
    </li>
    <hr>
  <% end %> 
</ul>

